<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
  <!-- <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head> -->
   <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
  <symbol id="icon-fire" viewBox="0 0 32 32">
<title>fire</title>
<path d="M9.93 32c-2.133-4.438-0.997-6.981 0.642-9.376 1.795-2.624 2.258-5.221 2.258-5.221s1.411 1.834 0.847 4.703c2.493-2.775 2.963-7.196 2.587-8.89 5.635 3.938 8.043 12.464 4.798 18.783 17.262-9.767 4.294-24.38 2.036-26.027 0.753 1.646 0.895 4.433-0.625 5.785-2.574-9.759-8.937-11.759-8.937-11.759 0.753 5.033-2.728 10.536-6.084 14.648-0.118-2.007-0.243-3.392-1.298-5.312-0.237 3.645-3.023 6.617-3.777 10.27-1.022 4.946 0.765 8.568 7.555 12.394z"></path>
</symbol>
</defs>
</svg>

<div role="banner">
  <screencomponent [props]="{'id':'scr__One__Form__main','class':'rolepage',
    'screenType':'PG'}">
    <bodycomponent [props]="{'id':'page-body',class:'pagebody pnb-body pnt-body etw-100',style:''}">
      <gridrowcomponent [props]="{'id':'One__Form__gr_row_6','class':'grb','apzcontrol' :'','widgettype' :'ROW','widgetcategory' :'GRID'}" >
         <gridcolcomponent [props]="{id:'One__Form__gr_col_6',apzcontrol:'',ColWrapper:{'direct':{'class':'gcb-col12', 'style': {}}},widgettype:'COLUMN',widgetcategory:'GRID'}">
         	 <panelcomponent [props]= "{id:'One__Form__pl_pnl_5_div',apzcontrol:'',class:'plt-simp',widgettype:'SIMPLE',widgetcategory:'PANEL',
              panelStyleWrapper:{'style':{}}}" panelType='SIMPLE'>
         	 	 <panelseccomponent 
         [props]="{id:'One__Form__ps_pls_5',apzcontrol:'',class:'pst-simp pri', panelType:'SIMPLE',widgettype:'SIMPLE',widgetcategory:'',containerType:'formcomponent'}" 
         panelType='SIMPLE'>
          <ng-container>
         	 		 <formcomponent [props]="{id:'One__Form__N21',class:'crt-form  hor pri',apzevents:{},widgettype:'FORM',widgetcategory:'CONTAINER',titleIcon : '#icon-fire',titleIconSize : ' px24',titleValue:'Check',multiRec:'Y'}" titleValue="Check">
                   <secrowcomponent [props]="{id:'One__Form__sc_row_4',
                   class:'srb pri',widgettype :'ROW',widgetcategory :'SECTION'}">
                       <seccolcomponent [props]="{id:'One__Form__sc_col_4',cntrType:'FORM',
                       readOnly:'N',apzcontrol:'',widgettype :'COLUMN',widgetcategory :'SECTION',fieldsetValue:'N',legendValue:'',hrzntlGrouping:'N',
                       ColWrapper:{direct:{class:'pri scb-col100', style : {}}}}">
                          <inputcomponent [props]="{id:'One__Form__el_inp_4',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_4_grp_lbl',htmlFor:'One__Form__el_inp_4',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_4_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                            <inputcomponent [props]="{id:'One__Form__el_inp_5',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_5_grp_lbl',htmlFor:'One__Form__el_inp_5',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_5_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                       </seccolcomponent>
                  <seccolcomponent [props]="{id:'One__Form__sc_col_4',cntrType:'FORM',
                       readOnly:'N',apzcontrol:'',widgettype :'COLUMN',widgetcategory :'SECTION',fieldsetValue:'N',legendValue:'',hrzntlGrouping:'N',
                       ColWrapper:{direct:{class:'pri scb-col50', style : {}}}}">
                          <inputcomponent [props]="{id:'One__Form__el_inp_4',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_4_grp_lbl',htmlFor:'One__Form__el_inp_4',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_4_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                            <inputcomponent [props]="{id:'One__Form__el_inp_5',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_5_grp_lbl',htmlFor:'One__Form__el_inp_5',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_5_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                       </seccolcomponent>
                   </secrowcomponent>
         	 		 </formcomponent>
          </ng-container>
         	 	 </panelseccomponent>
             <panelseccomponent 
         [props]="{id:'One__Form__ps_pls_5',apzcontrol:'',class:'pst-simp pri', panelType:'SIMPLE',widgettype:'SIMPLE',widgetcategory:'',containerType:'formcomponent'}" 
         panelType='SIMPLE'>
          <ng-container>
               <formcomponent [props]="{id:'One__Form__N21',class:'crt-form  hor pri',apzevents:{},widgettype:'FORM',widgetcategory:'CONTAINER',titleIcon : '#icon-fire',titleIconSize : ' px24',titleValue:'Check',multiRec:'Y'}" titleValue="Check">
                   <secrowcomponent [props]="{id:'One__Form__sc_row_4',
                   class:'srb pri',widgettype :'ROW',widgetcategory :'SECTION'}">
                       <seccolcomponent [props]="{id:'One__Form__sc_col_4',cntrType:'FORM',
                       readOnly:'N',apzcontrol:'',widgettype :'COLUMN',widgetcategory :'SECTION',fieldsetValue:'N',legendValue:'',hrzntlGrouping:'N',
                       ColWrapper:{direct:{class:'pri scb-col50', style : {}}}}">
                          <inputcomponent [props]="{id:'One__Form__el_inp_4',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_4_grp_lbl',htmlFor:'One__Form__el_inp_4',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_4_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                            <inputcomponent [props]="{id:'One__Form__el_inp_5',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_5_grp_lbl',htmlFor:'One__Form__el_inp_5',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_5_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                       </seccolcomponent>
                  <seccolcomponent [props]="{id:'One__Form__sc_col_4',cntrType:'FORM',
                       readOnly:'N',apzcontrol:'',widgettype :'COLUMN',widgetcategory :'SECTION',fieldsetValue:'N',legendValue:'',hrzntlGrouping:'N',
                       ColWrapper:{direct:{class:'pri scb-col100', style : {}}}}">
                          <inputcomponent [props]="{id:'One__Form__el_inp_4',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_4_grp_lbl',htmlFor:'One__Form__el_inp_4',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_4_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                            <inputcomponent [props]="{id:'One__Form__el_inp_5',tdClasses:'pri',apzcontrol:'',type:'text',
formula:'',content:{direct:{class:'etw-100 ett-inpt pri lft',maxLength:'999',placeholder:'',
'ng-enabled':'true','original-title':'',value:''}},spanWrapper:{class:'ecn etw-95',style:{}},
osSpecific:'N',hasLov:'N',hasSymbol:'N',hasIcon:'N',isdateOrDateTime:'N',elmWrapper:{direct:{class:''}},buttonState:'',elementIcon:'icon-grid',lovIcon:'icon-grid',widgettype:'INPUTBOX',
widgetcategory:'ELEMENT',wrapperClasses:{class:'eoc srb'},labelProps:{title:'INPUT',
direct:{id:'One__Form__el_inp_5_grp_lbl',htmlFor:'One__Form__el_inp_5',class:'flb'}},
hasLabelIcon:'N',contentWrapper:{direct:{id:'One__Form__el_inp_5_li',class:'eic etw-60'}},cntrType:'FORM',labelWrapper:{direct:{class:'etw-40'}}
}">
                           </inputcomponent>
                       </seccolcomponent>
                   </secrowcomponent>
               </formcomponent>
          </ng-container>
             </panelseccomponent>
         	 </panelcomponent>
         </gridcolcomponent>
      </gridrowcomponent>
     <!--  <dummycomponent></dummycomponent> -->
    </bodycomponent> 
</screencomponent>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--  <gridrowcomponent id="One__Form__gr_row_6" class="grb" apzcontrol ='' widgettype ='ROW'  widgetcategory ='GRID' ></gridrowcomponent> -->